
#open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
   /* shere color */
   .secondary-bg{
      background-color: #FFF8F3;
   }
   .text-primary{
      color: #FD6E0A;
   }
   .section-title{
      font-size: 35px;
      font-weight: bold;
      color: #181818;
   }
   .section-descreption{
      font-size: 18px;
      font-weight: regular;
      color: #757575;
   }
   .text-center{
      text-align: center;
   }
   .skills-group{
     display: flex;
     gap: 24px;
   }
   .dark-1{
      color: #181818;
   }
   .dark-2{
      color: #474747;
  }
  .dark-3{
   color: #757575;
  }
  .section-title{
      margin-top: 130px;
  }
  /* nav style    */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 100px;
  }
  .btn-primary{
      background-color: #FD6E0A;
      font-weight: bold;
      font-size: 20px;
      border: none;
      border-radius: 200px;
      padding: 18px 35px;
      margin-bottom: 20px;
  }
  .whight{
    background-color: #FFFFFF;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
  }
  .nav-style{
      font-weight: 800px;
      font-size: 45px;
      margin-bottom: 20px;
  }
  nav ul{
      display: flex;
      align-items: center;
  }
  nav ul li{
      list-style: none;
      margin-right: 50px;
  }
  nav  li a{
      text-decoration: none;
      font-size: 20px;
  }
  .banner-greedens{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 0px;
  }
  .banner-style{
   font-size: 85px;
   font-weight: bold;
   margin-bottom: 1px;
   margin-top: 5px;
  }
  .bannar-profail-picture{
      width: 580px;
  }
  .banner{
      display: flex;
      justify-content: space-between;
      margin: 0px 100px 0  105px;
  }
  /* width=max */
  .bannar-content{
      width: 580px;
  }
  .header{
      background-image: url('../images/developer.png'),url('../images/header_bg.png');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
  }
  /* main style */
  main{
      /* max-width: 1140px;
      max-height: 550px; */
      max-width: 1140px;
      /* height: 550px; */
      margin: 0 auto;
  }
  
  .about{
      border-radius: 10px;
      padding: 130px 150px;
      text-align: center;
      margin-top: 130px;
  }
  .item-description{
      font-weight: bold;
      margin-top: 0px;
  }
  .item-title{
      margin-bottom: 1px;
  }
  .about-items{
      display: flex;
      justify-content: space-around;
  }
  /* single style */
  .section-description2{
      margin-bottom: 50px;
  }
  .skill{
      padding: 30px;
      box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
   }
   .skills{
      /* width: 909px; */
      /* width: 100%; */
      height: 168px;
      margin: auto;
      margin-bottom: 30px;
   }
   /* resume */
   .resume-containar{
      display: flex;
      gap: 24px;
   }
   .resume-section-title{
      font-weight: bold;
      font-size: 35px;
      text-align: center;
      margin-top: 130px;
      margin-bottom: 130px;
   } 
   .resume-containar{
      font-weight: bold;
      font-size: 30px;
   }
   .resume-bold{
       font-size: 25px;
       margin-bottom: 2px;
      font-weight: bold;
   }
   .semi-bold{
      font-size: 20px;
      font-weight: 600px;
   }
   .resume-regular{
      font-size: 16px;
      font-weight: 16px;
   }
   .resume-experience,.experience-of-company{
      margin-top: 10px;
      margin-bottom: 25px;
   }
   .resume-color{
      width: 200px;
      height: 64px;
      color: #FFF8F3;
      background-color: #FD6E0A;
      margin-top: 50px;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      margin-bottom: 130px;
   }
   .resume-btn{
      text-align: center;
      
   }
   /* footer style */
   footer{
      padding: 130px 230px;
      display: flex;
      gap: 100px;
      background-color: #FFF8F3;
      margin-bottom: 200px;
   }
   .footer-content{
      width: 50%;
   }
   footer input[type="text"] ,footer input[type="email"] ,footer textarea{
      width: 100%;
      height: 64px;
      border-radius: 5px;
      background-color: white;
      display: block;
      font-size: 16px;
      padding: 10px 20px;
      margin-bottom: 24px;
      border: none;
   }
   .message{
      width: 200px;
      height: 64px;
      background-color: #FD6E0A;
      color: white;
      border-radius: 5px;
   }
   /* re-solve-website */
   .hide{
     display: none;
   }
   @media screen and (max-width:576px) {
     nav{
        margin-bottom: 0px;
     }
     nav ul{
        flex-direction: column;
     }
     nav ul li {
        margin-bottom: 20px;
     }
     .header{
        background-image: none;
     }
     .about{
       margin-top: 20px;
     }
     .section-title{
        margin: 30px 0px;
     }
     nav{
        flex-direction: column;
     }
     .banner-style{
        font-size: 30px;
     }
    .banner{
        flex-direction: column;
        margin: 0px;
     }
     .bannar-content{
        width: 100%;
        text-align: center;
     }
     .bannar-profail-picture{
        width: 100%;
     }
     .skills-group ,.resume-containar{
        flex-direction: column;
     }
     footer{
        padding: 10px;
        gap: 0;
        flex-direction: column;
        text-align: center;
     }
     .footer-content{
        width: 100%;
     }
     footer input[type="text"] ,footer input[type="email"] ,footer textarea{
        width: calc(  (100% - 40px)); 
     }
     .about{
        padding: 10px;
     }
     .about-items{
        flex-direction: column;
     }
   }
  
  